aibloggenerator.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ff1e8c87-885d-48fe-bcd4-aac5aaf3532e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"topic\": \"Artificial Intellegence\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "302543da-a278-4840-a65d-4348979ef5a1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a 1000-word blog post about {{$json.topic}}\n\nInclude:\n- Title\n- Introduction\n- Main Sections\n- Conclusion",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "8a5f398b-d53d-434c-9b7a-7de3c3a0815c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        400,
        144
      ],
      "id": "bf27c115-a346-4ab8-82ac-2cbec9131dc4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "peYGmGkJYe7BfLAm",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b7125442-5133-4be0-bc8a-9db21f87aa20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2a491ea949a9f643a4a06a70f96b06d58e10a727cb5ec803eee3502b318b4e4"
  },
  "nodeGroups": [],
  "id": "CXkngJCCDhxu2YrH",
  "tags": []
}